table {
  @extend .table;
  @extend .table-striped;
}

blockquote {
  @extend .blockquote;
}

img {
  @extend .img-fluid;
  margin-bottom: 1rem;
}

.navbar {
  margin-bottom: 2rem;
  border-bottom: 0.125rem solid hsl(0, 0%, 30%);
}

.archive-year {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.archive-info {
  font-size: x-small;
}

.archive-item {
  margin-bottom: 0.5rem;
}

.footer-container {
  text-align: center;
  font-size: x-small;
  margin-bottom: 0.25rem;
}

.footer-icons {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}

.footer-icon-links {
  text-decoration: none;
  color: #212529;
}

.footer-icon-links:hover,
.footer-icon-links:focus {
  text-decoration: none;
  color: #212529;
}

.archive-title {
  color: #212529;
}

.highlight {
  background-color: #272822;
}

pre.highlight {
  padding: 1rem;
}

.dark-avatar {
  display: none !important;
}

.light-avatar,
.dark-avatar {
  margin-right: 0.25rem !important;
}

.set-info {
  font-size: x-small;
  text-decoration: none;
}

.report-issue {
  font-size: x-small;
}

.smol {
  font-size: x-small;
}

.love {
  color: #FF3355;
}

.question {
  color: #A8A8A8;
}

.spght,
.spght:hover,
.spght:focus {
  color: #009975;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .footer-icon-links {
    text-decoration: none;
    color: #e1e1e1;
  }

  .footer-icon-links:hover,
  .footer-icon-links:focus {
    text-decoration: none;
    color: #e1e1e1;
  }

  .archive-title {
    color: #e1e1e1;
  }

  .light-avatar {
    display: none !important;
  }
  .dark-avatar {
    display: inline-block !important;
  }
}

.achievement-list {
  list-style: none;
} 

.achievement-list li {
  position: relative;
  padding-left: 1.5em; /* Ensure space for the marker */
}

.achievement-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.2em; /* Adjust alignment as needed */
  width: 1em;
  height: 1em;
  mask: url('/assets/images/trophy.svg') no-repeat;
  -webkit-mask: url('/assets/images/trophy.svg') no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  background-color: #7F735F; /* Default bronze color */
}

.achievement-list li.achievement-gold::before {
  background-color: #FFD700;
}

.achievement-list li.achievement-silver::before {
  background-color: #C0C0C0;
}