---
layout: default
---

<h1>{{ page.title }}</h1>{% if page.in_progress %}<span class="badge rounded-pill bg-warning text-dark">🛠️ In Progress</span>{% endif %} 

<hr>

<p><strong>Era:</strong> {{ page.era }}</p>

{% if page.description %}
<p><strong>Description:</strong> {{ page.description }}</p>
{% endif %}

{% if page.achievements %}
<p>
  <strong>Notable Achievements:</strong>
  <ul class="achievement-list">
  {% for achivement in page.achievements %}

    {% case achivement.position %}
    {% when "1st" %}
       {% assign trophy_class = "achievement-gold" %}
    {% when "2nd" %}
       {% assign trophy_class = "achievement-silver" %}
    {% else %}
       {% assign trophy_class = "" %}
    {% endcase %}

    <li class="{{ trophy_class }}">
      {{ achivement.position }} @ {{ achivement.competition }} - {{ achivement.player }} ({{ achivement.division }})
    </li>
  {% endfor %}
  </ul>
</p>
{% endif %}

{% if page.links %}
<p>
   <strong>Links:</strong>
<ul>
   {% for link in page.links %}
   <li><a href="{{link.href}}" target="_blank">{{link.title}}</a></li>
   {% endfor %}
</ul>
</p>
{% endif %}

<hr>

<h2 class="mb-3">Decklist</h2>

{% assign limitless_card_baseurl = "https://limitlesstcg.com/cards/" %}

{% assign total_pokemon = 0 %}
{% for pokemon in page.cards.pokemon %}
  {% assign total_pokemon = total_pokemon | plus: pokemon.quantity %}
{% endfor %}

{% assign total_trainers = 0 %}
{% for trainers in page.cards.trainers %}
  {% assign total_trainers = total_trainers | plus: trainers.quantity %}
{% endfor %}

{% assign total_energy = 0 %}
{% for energy in page.cards.energy %}
  {% assign total_energy = total_energy | plus: energy.quantity %}
{% endfor %}

{% assign card_prefix = "" %}
{% assign card_li_data = "class='list-group-item'" %}

{% assign missing_card_prefix = "⚠️ " %}
{% assign missing_card_li_data_prefix = "class='list-group-item list-group-item-warning' data-bs-toggle='tooltip' data-bs-placement='left' data-bs-html='true' title='<strong>Can you help?</strong><p>I am missing <strong>" %}
{% assign missing_card_li_data_suffix = "</strong> of these card(s)</p>Please contact me using the links at the bottom of the page if you are able to source any!<p><strong>Thank you 🙏</strong></p>'" %}

<div class="row mb-4">
   {{ content }}
   {% if page.no_image != true %}
   <span class="smol text-muted text-end mb-1">Decklist image generated via <a href="https://limitlesstcg.com/" class="text-reset" target="_blank">Limitless TCG</a></span>
   <img src="{{site.baseurl}}/assets/images/decks/{{ page.slug }}.png" alt="{{ page.title }}">
   {% endif %}
   <div class="container mb-3">
     <button id="copyButton" type="button" class="btn btn-secondary btn-sm float-end">Copy to TCGOne</button>
   </div>
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Pokémon ({{ total_pokemon }})</li>
         {% for pokemon in page.cards.pokemon %}
           {% if pokemon.missing_count > 0 %}
             {% assign prefix = missing_card_prefix %}
             {% assign li_data = missing_card_li_data_prefix | append: pokemon.missing_count | append: missing_card_li_data_suffix %}
           {% else %}
             {% assign prefix = card_prefix %}
             {% assign li_data = card_li_data %}
           {% endif %}
         <li {{ li_data }}>{{ prefix }}{{ pokemon.quantity }}&times; {{ pokemon.name }} 
            <a href="{{ limitless_card_baseurl | append: pokemon.set | append: '/' | append: pokemon.number }}" target="_blank" class="set-info text-muted">({{ pokemon.set }} {{ pokemon.number }})</a>
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Trainers ({{ total_trainers }})</li>
         {% for trainer in page.cards.trainers %}
           {% if trainer.missing_count > 0 %}
             {% assign prefix = missing_card_prefix %}
             {% assign li_data = missing_card_li_data_prefix | append: trainer.missing_count | append: missing_card_li_data_suffix %}
           {% else %}
             {% assign prefix = card_prefix %}
             {% assign li_data = card_li_data %}
           {% endif %}
         <li {{ li_data }}>{{ prefix }}{{ trainer.quantity }}&times; {{ trainer.name }} 
            <a href="{{ limitless_card_baseurl | append: trainer.set | append: '/' | append: trainer.number }}" target="_blank" class="set-info text-muted">({{ trainer.set }} {{ trainer.number }})</a>
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Energy ({{ total_energy }})</li>
         {% for energy in page.cards.energy %}
           {% if energy.missing_count > 0 %}
             {% assign prefix = missing_card_prefix %}
             {% assign li_data = missing_card_li_data_prefix | append: energy.missing_count | append: missing_card_li_data_suffix %}
           {% else %}
             {% assign prefix = card_prefix %}
             {% assign li_data = card_li_data %}
           {% endif %}
         <li {{ li_data }}>{{ prefix }}{{ energy.quantity }}&times; {{ energy.name }} 
            <a href="{{ limitless_card_baseurl | append: energy.set | append: '/' | append: energy.number }}" target="_blank" class="set-info text-muted">({{ energy.set }} {{ energy.number }})</a>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
<hr>
<span class="report-issue text-muted">Does something look wrong? - Report a decklist issue <a href="{{ site.repository.issue-template-url.deck }}{{ page.title | url_encode }}+{{ page.era | url_encode }}+-+%28{{page.name | url_encode}}%29">here</a></span>
<hr>

{% assign decklist = "" %}
{% for pokemon in page.cards.pokemon %}
  {% assign item = pokemon.quantity | append: ' ' | append: pokemon.name | append: ' ' | append: pokemon.set | append: ' ' | append: pokemon.number %}
  {% assign decklist = decklist | append: item | append: '\n' %}
{% endfor %}
{% for trainer in page.cards.trainers %}
  {% assign item = trainer.quantity | append: ' ' | append: trainer.name | append: ' ' | append: trainer.set | append: ' ' | append: trainer.number %}
  {% assign decklist = decklist | append: item | append: '\n' %}
{% endfor %}
{% for energy in page.cards.energy %}
  {% assign item = energy.quantity | append: ' ' | append: energy.name | append: ' ' | append: energy.set | append: ' ' | append: energy.number %}
  {% assign decklist = decklist | append: item | append: '\n' %}
{% endfor %}

<script>
    const yamlOutput = "{{ decklist }}";
    const button = document.getElementById('copyButton');
    button.addEventListener('click', () => {
      navigator.clipboard.writeText(yamlOutput).then(() => {
        button.textContent = 'Copied';
        setTimeout(() => { button.textContent = 'Copy to TCGOne'; }, 2000);
      });
    });
</script>