---
layout: default
---

<h1>{{ page.title }}</h1>{% if page.in_progress %}<span class="badge rounded-pill bg-warning text-dark">🛠️ In Progress</span>{% endif %} 

<hr>

<p><strong>Era:</strong> {{ page.era }}</p>

{% if page.description %}
<p><strong>Description:</strong> {{ page.description }}</p>
{% endif %}

{% if page.achievements %}
<p>
  <strong>Notable Achievements:</strong>
  <ul class="achievement-list">
  {% for achivement in page.achievements %}

    {% case achivement.position %}
    {% when "1st" %}
       {% assign trophy_class = "achievement-gold" %}
    {% when "2nd" %}
       {% assign trophy_class = "achievement-silver" %}
    {% else %}
       {% assign trophy_class = "" %}
    {% endcase %}

    <li class="{{ trophy_class }}">
      {{ achivement.position }} @ {{ achivement.competition }} - {{ achivement.player }} ({{ achivement.division }})
    </li>
  {% endfor %}
  </ul>
</p>
{% endif %}

{% if page.links %}
<p>
   <strong>Links:</strong>
<ul>
   {% for link in page.links %}
   <li><a href="{{link.href}}" target="_blank">{{link.title}}</a></li>
   {% endfor %}
</ul>
</p>
{% endif %}

<hr>

<h2 class="mb-3">Decklist</h2>

{% assign total_pokemon = 0 %}
{% for pokemon in page.cards.pokemon %}
  {% assign total_pokemon = total_pokemon | plus: pokemon.quantity %}
{% endfor %}

{% assign total_trainers = 0 %}
{% for trainers in page.cards.trainers %}
  {% assign total_trainers = total_trainers | plus: trainers.quantity %}
{% endfor %}

{% assign total_energy = 0 %}
{% for energy in page.cards.energy %}
  {% assign total_energy = total_energy | plus: energy.quantity %}
{% endfor %}

<div class="row mb-4">
   {% if page.no_image != true %}
   <span class="smol text-muted text-end mb-1">Decklist image generated via <a href="https://limitlesstcg.com/" class="text-reset" target="_blank">Limitless TCG</a></span>
   <img src="{{site.baseurl}}/assets/images/decks/{{ page.slug }}.png" alt="{{ page.title }}">
   {% endif %}
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Pokémon ({{ total_pokemon }})</li>
         {% for pokemon in page.cards.pokemon %}
         <li class="list-group-item">{{ pokemon.quantity }}&times; {{ pokemon.name }} 
            <span class="set-info text-muted">({{ pokemon.set }} {{ pokemon.number }})</span>
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Trainers ({{ total_trainers }})</li>
         {% for trainer in page.cards.trainers %}
         <li class="list-group-item">{{ trainer.quantity }}&times; {{ trainer.name }} 
            <span class="set-info text-muted">({{ trainer.set }} {{ trainer.number }})</span>
         </li>
         {% endfor %}
      </ul>
   </div>
   <div class="col-12 col-md-4 mb-3">
      <ul class="list-group">
         <li class="list-group-item active" aria-current="true">Energy ({{ total_energy }})</li>
         {% for energy in page.cards.energy %}
         <li class="list-group-item">{{ energy.quantity }}&times; {{ energy.name }} 
            <span class="set-info text-muted">({{ energy.set }} {{ energy.number }})</span>
         </li>
         {% endfor %}
      </ul>
   </div>
</div>
<hr>
<span class="report-issue text-muted">Does something look wrong? - Report a decklist issue <a href="{{ site.github_deck_issue_url }}{{ page.title | url_encode }}+{{ page.era | url_encode }}+-+%28{{page.name | url_encode}}%29">here</a></span>
<hr>